{% extends "management/base.html" %}
{% load render_table from django_tables2 %}

 {% block content %}
 	<head> Course Search </head>
 	<form action="{% url 'search_course' %}" method="GET">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Submit">
	</form>

	<table class="table table-bordered">
	  <thead>
	    <tr>
	       <th>Course name</th>
	      <th>Course Id</th>
	      <th>Instructor Id</th>
	      <th>Instructor Name</th>
	   </tr>
	 </thead>
	 <tbody>
	   {% for course in courses %}
	    <tr>
	      <td>{{ course.course_name }}</td>
	      <td>{{ course.courseId }}</td>
	      <td>{{ course.instructor }}</td>
	      <td>{{ course.name }}</td>
	      <td> <a href = "{% url 'edit_course' %}">Edit Course</a> </td>
	   </tr>
	 {% endfor %}
	</tbody>
	</table>
	<!--{% for x in table %}
		{{ x.name}}
	    {{ x.studentId}}
	{% endfor %}-->
{% endblock content %}